.board{
    margin: 0 auto;
    width:600px;
    height:600px;
    display:grid;
    grid-template-columns: repeat(3,200px);
    grid-template-rows:repeat(3,200px) ;
    border:1px solid red;
}

.cell{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:16rem;
}
body{
    text-align: center;
}
#reset-btn{
    font-size:2rem;
}
#result-div{
    font-size:4rem;
    border:1px solid black;
}

.disable-cells{
    pointer-events: none;
}